*{
    padding: 0;
    margin: 0%;
}
body{
    background-image:url('football-2022-tournament-background-vector-illustration-football-pattern-banner-card-website-burgundy-color-national-flag-qatar_7280-6946.webp');
}
h1{
    font-weight: ;
    align-self: center;
    color: rgb(215, 39, 39);
}